$base-color: #6bb0f0;
$text-dark: #333;
$text-light: #999;
$gray-bg: #f5f5f5;
$hover-text-color: $base-color;
$gray-bg: #e5e5e5;
$attention-color: #ce60a8;
$btn-bg: #5da8ef;

$font-size-base: 14px;
$font-size-small: 12px;
$font-size-larg: 16px;

$base-padding: 15px;
$base-margin: 15px;

$font-header-h1: 62pt;
$font-header-h2: 42pt;
$font-size-xlarge: 34px;
$font-size-xlarge: 34px;

$font-size-large: 26pt;
$font-size-medium: 20pt;
$font-size-base: 14pt;
$font-size-small: 12pt;
$font-size-x-small: 9pt;

$md: 720px;
$sm: 576px;
$xs: 576px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family-LeagueSpartan: leagueSpartan;
$font-family-Poppins: poppins;
$font-family-MyriadPro: Myriadpro;
$font-family-PlayfairDisplay: PlayfairDisplay;
$font-family-Layer: Layer;

$letter-spacing-base: 5px;

$item-shop-w: 500px;
$item-shop-margin: $base-margin;

$border-brand: 3px solid $base-color;
$input-bg: $gray-bg;
$input-h: 50px;
